:root {
	--dark-purple: #674263;
	--light-purple: #856782;
	--grey: #ddd;
	--light-font: #333;
	--black: #000;
	--white: #fff;
}

body {
	background: var(--black);
}

h1 {
	font-size: 3rem;
	color: var(--white);
	text-transform: uppercase;
	font-weight: 200;
	text-align: center;
	margin-bottom: 1rem;
}

.icon {
	height: 20px;
	width: 20px;
}
